<div class="container text-light py-3">
    <h1>Register</h1>
    <form [formGroup]="formRegister" (ngSubmit)="register()" class="row py-5">
        <div class="col-md-6">
            <label for="username" class="form-label" >Username</label>
            <input type="text" class="form-control" formControlName="username">
            <span class="text-danger" *ngIf="validarCampo('username')">Minimo 4 caracteres</span>
        </div>
        <div class="col md-6">
               <label for="email" class="form-label" >Email</label>
               <input type="email" class="form-control" formControlName="email" >
               <span class="text-danger" *ngIf="validarCampo('email')">El email debe ser valido</span>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" >
            <span class="text-danger"  *ngIf="validarCampo('password')">Minimo de 6 caracteres</span>
        </div>
        <div class="col-md-6">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span class="text-danger"  *ngIf="validarCampo('confirmPassword')">Minimo de 6 caracteres</span>
        </div>
        <div class="col-md-12 py-3">
            <a routerLink="auth/login">Or login account</a>
        </div>
        <div class="col-md-12 py-3">
            <button type="submit" class="btn btn-secondary" [disabled]="formRegister.invalid">Register</button>
        </div>
    </form>
</div>