#game{
  min-height: 100vh;
  background-image: url("../../../../src/assets/Background/table_top.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#points{
  font-size: 50px !important;
  background-color: grey;
  padding: 5px;
  position: relative;
  bottom: 80px;
  left: 110px;
  margin-left: 30%;
}