<section id="game" class="content-fluid">

  <div id="currierComponent">
    <app-croupier></app-croupier>
    <span id="points" class="badge badge-secondary">
      {{croupierPoints}}
    </span>
  </div>


  <div id="playerComponent">
    <app-player></app-player>
    <span id="points" class="badge badge-secondary">
      {{playerPoints}}
    </span>
  </div>


  <!-- Navbar -->
  <nav class="navbar navbar-dark shadow-5-strong">
    <!-- Navbar player
      <a class="navbar-brand" href="#">Player</a>
        -->
    <ul class="nav">
      <li>
        <a href="javascript:void(0);">   <!--TODO:verificar no usar link para este elemento-->
          <span class="icon-hit" (click)="send()"></span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <span class="icon-hold" (click)="hold()"></span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <span class="icon-skull" (click)="reset()"></span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Navbar -->

</section>