<div class="container-fluid ">
    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="button" (click)="NewGame()">Nuevo Juego</button>
            <button class="btn btn-info" type="button" id="continuarbtn" *ngIf="PendingGame" (click)="ContinueGame()">Continuar Partida</button>
            <h1>Historial de Partidas</h1>
          </div>
    </div>
    <div class="row">
        
        <table class="table col-6 mx-auto" *ngIf="games">
            <thead>
              <tr>
                <th scope="col">Partida</th>
                <th scope="col">Jugador</th>
                <th scope="col">Resultado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let game of games" [ngClass]="{'table-warning': game.idResultType=== 1,'table-success': game.idResultType === 2,'table-danger': game.idResultType === 3, 'table-secondary': game.idResultType === 4 }">
                <th scope="row">{{game.id}}</th>
                <td>{{game.idPlayer}}</td>
                <td>{{game.idResultType}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>